    <!--- Kontakt -->
    <div class="container padding">
      <div class="row text-center padding">
        <div class="col-12">
          <h2 id="kontakt">Kontakt</h2>
        </div>
        <div class="container padding">
          <div class="row padding">
            <div class="col-lg-2 col-md-6">
              <div class="card">
                <img class="card-img-top" src="img/team1.jpg" />
                <div class="card-body">
                  <h4 class="card-title">Mateusz Krobski</h4>
                  <p class="card-text">
                    Prezes Zarządu Stowarzyszenia<br/> IT, Księgowość<br/>
                    Kontakt dla mediów<br/>
                    <a href="mailto:m.krobski@instytutrownosci.pl" style="text-decoration: none; color: black;">m.krobski@instytutrownosci.pl</a>

                  </p>

                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-6">
              <div class="card">
                <img class="card-img-top" src="img/team1.jpg" />
                <div class="card-body">
                  <h4 class="card-title">Kacper Kubiak</h4>
                  <p class="card-text">
                      Wiceprezes Zarządu Stowarzyszenia<br/> Kontakt dla mediów<br/>
                      Marketing<br/>
                      <a href="mailto:k.kubiak@instytutrownosci.pl" style="text-decoration: none; color: black;">k.kubiak@instytutrownosci.pl</a>
                  </p>

                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-6">
              <div class="card">
                <img class="card-img-top" src="img/team1.jpg" />
                <div class="card-body">
                  <h4 class="card-title">Kacper Kubiak</h4>
                  <p class="card-text">
                      Wiceprezes Zarządu Stowarzyszenia<br/> Kontakt dla mediów<br/>
                      Marketing<br/>
                      <a href="mailto:k.kubiak@instytutrownosci.pl" style="text-decoration: none; color: black;">k.kubiak@instytutrownosci.pl</a>
                  </p>

                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-12">
              <div class="card">
                <img class="card-img-top" src="img/team1.jpg" />
                <div class="card-body">
                  <h4 class="card-title">Krystian Adamczak</h4>
                  <p class="card-text">
                    Koordynacja Stowarzyszenia, Wolontariat<br/>
                    <a href="mailto:k.adamczak@instytutrownosci.pl" style="text-decoration: none; color: black;">k.adamczak@instytutrownosci.pl</a>
                  </p>

                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-12">
              <div class="card">
                <img class="card-img-top" src="img/bartek.png" />
                <div class="card-body">
                  <h4 class="card-title">Bartłomiej Patka</h4>
                  <p class="card-text">
                    Koordynator do spraw zdrowia LGBT+<br/><br/><br/>
                    <a href="mailto:b.patka@instytutrownosci.pl" style="text-decoration: none; color: black;">b.patka@instytutrownosci.pl</a>
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>