<!--- Two Column Section -->
<div class="container padding">
  <div class="row padding">
    <div class="col-md-12 col-lg-6">
      <h2>Nasze cele</h2>
      <p>
        Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym.
        Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem
        próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając
        praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy
        Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem
        Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak
        Aldus PageMaker
      </p>
      <p>
        Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym.
        Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem
        próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając
        praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy
        Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem
        Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak
        Aldus PageMaker.
      </p>
      <p>
        Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym.
        Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem
        próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając
        praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy
        Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem
        Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak
        Aldus PageMaker
      </p>
    </div>
    <div class="col-lg-6">
      <img src="img/desk.png" class="img-fluid" />
    </div>
  </div>
</div>
<hr class="my-4" />
