@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
}

.navbar {
  padding: 0.1rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.logomale {
  margin: 0px;
  padding: 0px;
}

.carousel-inner img {
  width: 100%;
  height: 20%;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0px;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 1rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.social a {
  font-size: 4em;
  padding: 4rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-google-plus-g {
  color: #dd4b39;
}

.fa-instagram {
  color: #517fa4;
}

.fa-youtube {
  color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}

footer {
  background-color: #dfbbdf;
  color: #222;
  padding-top: 1rem;
}

hr.light {
  border-top: 1px solid #222;
  width: 75%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer a {
  color: #d5d5d5;
}
hr.light-100 {
  border-top: 1px solid #222;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

hr.light2 {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  width: 75%;
  margin-top: 1rem;
  margin-bottom: 5px;
}

hr.light3 {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  width: 75%;
  margin-top: 5px;
  margin-bottom: 1rem;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 3em;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .social a {
    font-size: 2em;
    padding: 1rem;
  }
  .display-4 {
    font-size: 300%;
  }
}
@media (max-width: 576px) {
  .social a {
    font-size: 2em;
    padding: 1rem;
  }
  .display-4 {
    font-size: 200%;
  }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 20%;
  margin: 0 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url("img/photo1.jpg");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
